/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  padding: 50px;
  background: rgb(238, 241, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

tr th {
  text-align: center;
}

tbody tr td {
  padding: 10px 20px;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 50px;
}

label {
  display: flex;
  gap: 15px;
  margin: 15px;
}

*{
background-color: rgb(122, 167, 169);

} */